<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

	<head th:replace="fragmentos/head :: head-css">
	

	

	
	</head>
	
			<link rel="stylesheet" media="screen"
	href="resources/static/css/stylemachine.css"
	th:href="@{/css/stylemachine.css}" type="text/css" />
	
		<link rel="stylesheet" media="screen"
	href="resources/static/css/jquery.slotmachine.css"
	th:href="@{/css/jquery.slotmachine.css}" type="text/css" />
		
		<title>Sorteio</title>
		

  
		
		
			<body  class="theme-red">
			
			

			
						    <div class="page-loader-wrapper">
        <div class="loader">
            <div class="preloader">
                <div class="spinner-layer pl-red">
                    <div class="circle-clipper left">
                        <div class="circle"></div>
                    </div>
                    <div class="circle-clipper right">
                        <div class="circle"></div>
                    </div>
                </div>
            </div>
            <p>Aguarde...</p>
        </div>
    </div>
    <!-- #END# Page Loader -->
    <!-- Overlay For Sidebars -->
    <div class="overlay"></div>
    <!-- #END# Overlay For Sidebars -->
    <!-- Search Bar -->
    <div class="search-bar">
        <div class="search-icon">
            <i class="material-icons">search</i>
        </div>
        <input type="text" placeholder="START TYPING..." />
        <div class="close-search">
            <i class="material-icons">close</i>
        </div>
    </div>

	   			  <nav th:replace="fragmentos/top-nav :: top-nav">
				
				</nav>
				
<!-- 					<div th:replace="fragmentos/nav :: nav-side"> </div> -->

    <!-- Main content -->
   <br> </br>
    
    <section class="contentt">
    
            <div class="container-fluid">
            
            <div class="block-header">
                <h2>SORTEIO</h2>
            </div>
            
            <div class="row clearfix">
            
            
                  <div  class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="card">
                        <div class="header">
                            <h2>
                                Sorteio
                                <small>   <a th:href="@{/home}"> <i class="material-icons">home</i></a></small>
                            </h2>
                            <ul class="header-dropdown m-r--5">
                                <li class="dropdown">
                                    <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                        <i class="material-icons">more_vert</i>
                                    </a>
                                    <ul class="dropdown-menu pull-right">
                                        <li><a href="javascript:void(0);">pdf</a></li>
                                        <li><a href="javascript:void(0);">Another action</a></li>
                                        <li><a href="javascript:void(0);">Something else here</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                        <div class="body">
                        
                         <div class="row clearfix">
                         

                        
                        
                        <div  class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                    <div class="card">
                        <div class="header bg-light-green">
                            <h2>
                                Usuario
                                <small>  <span class="description-header" th:utext="${usuarioAtt.id}"> </span>- <a href="https://daneden.github.io/animate.css/" target="_blank">daneden.github.io/animate.css</a></small>
                            </h2>
                            <ul class="header-dropdown m-r--5">
                                <li class="dropdown">
                                    <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                        <i class="material-icons">more_vert</i>
                                    </a>
                                    <ul class="dropdown-menu pull-right">
                                        <li><a href="javascript:void(0);">pdf</a></li>
                                        <li><a href="javascript:void(0);">Another action</a></li>
                                        <li><a href="javascript:void(0);">Something else here</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                        <div class="body">
                           
                           
            <div class="box box-widget widget-user">
            <!-- Add the bg color to the header using any of the bg-* classes -->
            <div class="widget-user-header">
              <h5 class="widget-user-username" th:text="${usuarioAtt.nome}">Nome do Cliente</h5>
              <h6 class="widget-user-desc" th:text="${usuarioAtt.email}">Tipo &amp; TERAPIA</h6>
            </div>
            
            
<!--             <div class="widget-user-image" th:if="${filename}"> -->
<!--               <img class="img-circle" th:src="@{/img/cliente/{fotoc}(fotoc=${filename})}" alt="User Avatar file"/> -->
<!--             </div> -->
            
                        <div class="widget-user-image" th:unless="${usuarioAtt.foto}">
              <img class="img-circle" th:src="@{/img/usuario/{fotoc}(fotoc=${filename})}" alt="User Avatar file unles" width="150px" height="150px"/>
            </div>
            
            
            
                       <div class="widget-user-image" th:if="${usuarioAtt.foto}">
              <img class="img-circle" th:src="@{/img/usuario/{fotoc}(fotoc=${usuarioAtt.foto})}" alt="User Avatar pac if" width="150px" height="150px"/>
            </div>
            
            
                     
            
            
            <div class="box-footer">
              <div class="row">

                <div class="col-sm-12">
                  <div class="description-block">
                  
<!--                <div class="widget-user-header"> -->
<!--               <h5 id="premionome" class="widget-user-username" th:text="${premio.name}">Nome do Cliente</h5> -->
<!--               <h6 id="premiodesconto" class="widget-user-desc" th:text="${premio.desconto}">Tipo &amp; TERAPIA</h6> -->
<!--             </div> -->

                  </div>
                  
                  </div>
                  </div>
                  </div>
                  </div>
                  </div>
                  </div>
                  </div>
<!--                   </div> -->
                  

<!--                            <div class="row clearfix"> -->
     				<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <div class="card">

                    <div class="header bg-orange">
                            <h2>
                                ROLETA
                                
                                <span th:text="${sorteio.id}"></span>
                                
                                  <input name="optionsCheckboxes" type="checkbox" th:checked="${sorteio.valido}" class="checkbox"/> Valido <span th:text="${sorteio.valido}">   </span>
                                <small>Pure css animations - <a href="https://daneden.github.io/animate.css/" target="_blank">daneden.github.io/animate.css</a></small>
                            </h2>
                            <ul class="header-dropdown m-r--5">
                                <li class="dropdown">
                                    <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                        <i class="material-icons">more_vert</i>
                                    </a>
                                    <ul class="dropdown-menu pull-right">
                                        <li><button id="casinoShuffle">SORTEAR</button></li>
                                        <li><a href="javascript:void(0);">Another action</a></li>
                                        <li><a href="javascript:void(0);">Something else here</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                        
                        <div class="body">
                        

         <div class="btn-group" role="group">
            <button id="randomizeButton" type="button" class="btn bg-indigo btn-md">
            
            <i class="material-icons">email</i>
            Iniciar Giro</button>
            
            <button id="parar" type="button" class="btn bg-pink btn-md">Parar UM
             <i class="material-icons">email</i>
            </button>
            
            <button id="pararAll" type="button" class="btn bg-red btn-md">Parar Tudo
             <i class="material-icons">email</i>
            </button>
            

            
            </div>
            

                        
			
			    <div id="randomize">
			    
			                <div>
            
            <p  id="msg"> Inicie a Roleta
            
          
            
            </p>
            
              <span id="prem"> </span>
            
            
            </div>
            

      <div class="container">
<!--         <h1>Randomize your stuff!</h1> -->


        <div class="row">
          <div class="col-sm-4">
            <div>
              <div id="machine1" class="randomizeMachine">
  								<div  th:each="premio, rowStat: ${premios}" >
                              <img th:src="@{/img/premio/{fotoc}(fotoc=${premio.foto})}"  />
<!--                               <p th:utext="${premio.name}" class="badge bg-teal" style="width: 100%;"> </p> -->
                              </div>
              </div>
            </div>
            <p id="machine1Result" class="col-xs-4 machineResult">Index:0</p>
          </div>

          <div class="col-sm-4">
            <div>
              <div id="machine2" class="randomizeMachine">
  								<div  th:each="premio, rowStat: ${premios}" >
                              <img th:src="@{/img/premio/{fotoc}(fotoc=${premio.foto})}" />
<!--                               <p th:utext="${premio.name}" class="badge bg-teal" style="width: 100%;"> </p> -->
                              </div>
              </div>
            </div>
            <p id="machine2Result" class="col-xs-4 machineResult">Index:0</p>
          </div>

          <div class="col-sm-4">
            <div>
              <div id="machine3" class="randomizeMachine">
  								<div  th:each="premio, rowStat: ${premios}"  >
                              <img th:src="@{/img/premio/{fotoc}(fotoc=${premio.foto})}"  />
                              <p th:utext="${premio.name}" class="badge bg-teal" hidden="true">
                              
                             
                               </p>
                               
                                <span th:utext="${premio.id}" class="badge bg-teal" hidden="true"> </span>
                              
                              </div>
              </div>
            </div>
            <p id="machine3Result" class="col-xs-4 machineResult">Index:0</p>
          </div>
        

          
        </div>

      </div>
    </div>



                  </div>
                  </div>
                  </div>
<!--                         </div> -->
<!--                     </div> -->
<!--                 </div> -->
<!--             </div> -->
                  

                  
              <div  class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                    <div class="card">
                        <div class="header bg-light-green">
                            <h2>
                                SORTEIO
                                <small>  <span class="description-header" th:utext="${usuarioAtt.id}"> </span>- <a href="https://daneden.github.io/animate.css/" target="_blank">daneden.github.io/animate.css</a></small>
                            </h2>
                            <ul class="header-dropdown m-r--5">
                                <li class="dropdown">
                                    <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                        <i class="material-icons">more_vert</i>
                                    </a>
                                    <ul class="dropdown-menu pull-right">
                                        <li><a href="javascript:void(0);">pdf</a></li>
                                        <li><a href="javascript:void(0);">Another action</a></li>
                                        <li><a href="javascript:void(0);">Something else here</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                        <div class="body">
                           
                    <form th:action="@{/sorteio/salvarSorteio}" th:object="${sorteio}" ModelAttribute="sorteio"  enctype="multipart/form-data"  method="post">   
            <div class="box box-widget widget-user">
            <!-- Add the bg color to the header using any of the bg-* classes -->
            <div class="widget-user-header">
<!--               <h5  class="widget-user-username" th:text="${sorteio.id}">Nome do Cliente</h5> -->
<!--               <h6  class="widget-user-desc" th:text="${sorteio.ativo}">Tipo &amp; TERAPIA</h6> -->
            </div>
            
            
<!--             <div class="widget-user-image" th:if="${filename}"> -->
<!--               <img class="img-circle" th:src="@{/img/cliente/{fotoc}(fotoc=${filename})}" alt="User Avatar file"/> -->
<!--             </div> -->
            
<!--                         <div class="widget-user-image" th:unless="${usuarioAtt.foto}"> -->
<!--               <img class="img-circle" th:src="@{/img/usuario/{fotoc}(fotoc=${filename})}" alt="User Avatar file unles" width="150px" height="150px"/> -->
<!--             </div> -->
            
            
            
<!--                        <div class="widget-user-image" th:if="${usuarioAtt.foto}"> -->
<!--               <img class="img-circle" th:src="@{/img/usuario/{fotoc}(fotoc=${usuarioAtt.foto})}" alt="User Avatar pac if" width="150px" height="150px"/> -->
<!--             </div> -->
            
            
<div class="form-group label-floating ">
                             <div class="input-group">
                  <div class="input-group-addon">
                    <i class="fa fa-lock"></i>
                  </div>
			               
                                  <input id="id" name="id" class="form"  type="text" th:value="${sorteio.id}"/>
			              </div>
			              
			              </div>
			         		
	

            
                   			         <div class="demo-checkbox">
                   			                        
			         		
			         		    <div class="checkbox">
                                  
                                  <input id="basic_checkbox_1" name="ativo"  class="checkbox"  type="checkbox" th:checked="${sorteio.ativo}"/>
                                   <label for="basic_checkbox_1">Ativo</label>
                                </div>
                                
                                			         		    <div class="checkbox">
                                   
                                  <input id="basic_checkbox_2" name="valido"  class="checkbox"  type="checkbox" th:checked="${sorteio.valido}"/>
                                  <label for="basic_checkbox_2">Valido</label>
                                </div>
                                
                                
                                			         		    <div class="checkbox">
                                   
                                  <input id="basic_checkbox_3"  class="checkbox"  type="checkbox" name="resgatado" th:checked="${sorteio.resgatado}"/>
                                  <label for="basic_checkbox_3">Resgatado</label>
                                </div>

			            </div>
			            
			                                        <div class="form-group label-floating ">
<!--                             <div class="control-group"> -->
<!--                                 <label class="control-label">Data Nascimento</label> -->
                                                    <div class="input-group date">
                  <div class="input-group-addon">
                    <i class="fa fa-calendar"></i>
                  </div>
                                    <input autocomplete="off" id="data" class="form-control pull-right" name="data" type="text" th:field="*{data}"
                                           placeholder="Data" />
                                </div>
                                </div>
                                
                                <div class="form-group label-floating ">
                             <div class="input-group">
                  <div class="input-group-addon">
                    <i class="fa fa-photo"></i>
                  </div>
							
										<input id="cliente" name="cliente" class="form-control android" type="text"  th:value="${sorteio.cliente}" placeholder="Digite a cliente" />
							
			                </div>
			              </div>
			              
			                                              <div class="form-group label-floating ">
                             <div class="input-group">
                  <div class="input-group-addon">
                    <i class="fa fa-photo"></i>
                  </div>
							
										<input id="premio" name="premio" class="form-control android" type="text"  th:value="${sorteio.premio}" placeholder="Digite a premio" />
							
			                </div>
			              </div>
                                
                                
            
            
            <div class="box-footer">
              <div class="row">

                <div class="col-sm-12">
                  <div class="description-block">
                  

                  

                  </div>
                  
                  </div>
                 <button id="salvar" type="submit" class="btn bg-purple btn-md" disabled="disabled"  >Salvar
              <i class="material-icons">email</i>
             </button>
                  </div>
                  </div>
                  </div>
                  
                  </form>  
                  
                  
                  </div>
                  </div>
                  </div>
                  

                </div>
                </div>
</div>

                           
                           
         
                            
                            

                        </div>
                        

                        
                    </div>
                </div>  
            

        
    </section>
        
 


	<div th:replace="fragmentos/footer :: script" style="display:none;"></div>
	

			
								<script src="resources/static/js/slotmachine.min.js"
			th:src="@{/js/slotmachine.min.js}" th:inline="javascript" ></script>

	
	            






	   
</body>

        <script id="codeScript2" type="text/javascript">

/*<![CDATA[*/

let count = 0;
const btn = document.querySelector('#randomizeButton');
const parar = document.querySelector('#parar');
const pararAll = document.querySelector('#pararAll');

$('#salvar').attr('disabled','disabled');
$('#pararAll').attr('disabled','disabled');
$('#parar').attr('disabled','disabled');

var premiofoto;

var p = document.getElementById("msg");

var prem = document.getElementById("prem");

var list = /*[[${premios}]]*/ [];


const results = {
  machine1: document.querySelector('#machine1Result'),
  machine2: document.querySelector('#machine2Result'),
  machine3: document.querySelector('#machine3Result')
};
const el1 = document.querySelector('#machine1');
const el2 = document.querySelector('#machine2');
const el3 = document.querySelector('#machine3');
const machine1 = new SlotMachine(el1, { active: 0,delay: 500 });
const machine2 = new SlotMachine(el2, { active: 0,delay: 500 });
const machine3 = new SlotMachine(el3, { active: 0,delay: 500 });

function onComplete(active){
  results[this.element.id].innerText = `Index: ${this.active}`;
  
//   preencherPremio();
  
  
}


parar.addEventListener('click', () => {
	  switch(count) {
	  
	  case 3:
//	    	machine1.stop();
	    	
	    	setTimeout(() => machine1.stop(onComplete),1000 );
	    	 
	    	
	      break;
	    case 2:
	    	setTimeout(() => machine2.stop(onComplete),1000 );

	    	
	      break;
	    case 1:
	    	setTimeout(() => machine3.stop(onComplete),1000 );
	    	
	    	AnalisarPremio();
	    	
			 $('#randomizeButton').attr('disabled','disabled');
			 $('#pararAll').attr('disabled','disabled');
			 $('#parar').attr('disabled','disabled');
	    	 $('#salvar').removeAttr('disabled');
	    	

	    	
	      break;
	  }
	  count--;
	});
	
	
pararAll.addEventListener('click', () => {
	
	 	setTimeout(() => machine1.stop(onComplete),1000 );
		setTimeout(() => machine2.stop(onComplete),1000 );
		setTimeout(() => machine3.stop(onComplete),1000 );

		
		AnalisarPremio();
		
		 
		 
		 $('#randomizeButton').attr('disabled','disabled');
		 $('#pararAll').attr('disabled','disabled');
		 $('#parar').attr('disabled','disabled');
		 $('#salvar').removeAttr('disabled');
	


	});	
	
btn.addEventListener('click', () => {
	count = 3;
	
	  machine1.shuffle(9999, onComplete);
	  setTimeout(() => machine2.shuffle(9999, onComplete), 500);
	  setTimeout(() => machine3.shuffle(9999, onComplete), 1000);
	
	  $('#parar').removeAttr('disabled');
	  $('#pararAll').removeAttr('disabled');
	  $('#randomizeButton').attr('disabled','disabled');
	  $( '#msg' ).html( '' );
	  

});	



function AnalisarPremio(){
		  

	var spin1 = machine1.active;
	
	var spin2 = machine2.active;
	
	var spin3 = machine3.active;
	
	
	if(spin1 == spin2 ) {
		
		if(spin2 == spin3 ){
			
			$("div#randomize .row > div.col-sm-4 > div").addClass("blink");
			
//		 	$("#msg").innerText = 'Index:' + spin1;
			
			
			p.innerText = p.innerText + "Parabens." + spin1;
			
			 var escolhida ;
			 
			 var idprem ;
			
			
			$('#machine3 div>p').each(function(spin1, element) {
				 console.log(spin1 + ' : ' + element.innerHTML);
				 escolhida = element.innerHTML;
				 
				 
				});
			
			prem.innerText = prem .innerText + "premio nome:" + escolhida ;
			
			$('#machine3 div>span').each(function(spin1, element) {
				 console.log(spin1 + ' : ' + element.innerHTML);
				 idprem =  element.innerHTML;
				 
				 
				});
			
			$("#premio").val(idprem);
			
		}
		
		
	
	}
		
	 else {
			
			p.innerText = p.innerText+" nao deu .";
			
			
		}
	

	  console.log("SPIN 1:",  spin1);
	  
	  console.log("SPIN 2:",  spin2);
	  
	  console.log("SPIN 3:",  spin3);
	  
	  console.log("lista:" +  list);
	

	
	}	
	
/*]]>*/
	
</script>
		
			
</html>

