<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
  
<!-- <meta property="og:url"                th:attr="content='https://sleepy-atoll-65818.herokuapp.com/produto/perfil?id=' + ${produto.id}" /> -->
<!-- <meta property="og:type"               th:attr="content='website'" /> -->
<!-- <meta property="og:title"               th:attr="content='Sushi-Senpai' + ${produto.nome}" /> -->
<!-- <meta property="og:description"        th:attr="content='Descrição:'+ ${produto.descricao}" /> -->
<!-- <meta property="og:image"               th:attr="content='https://sleepy-atoll-65818.herokuapp.com/img/produto/' + ${produto.foto}" /> -->

	<head th:replace="fragmentos/head :: head-css">
	

	
	</head>
	
	
		
		<title>Monitor</title>

			<body  class="hold-transition skin-red sidebar-mini" th:class=" 'hold-transition skin-'+ ${configuracaoAtual.cortopo} + ' sidebar-mini' ">
			
<!-- 			<div id="fb-root"> </div> -->
<!-- <script th:async="async" th:defer="defer"  crossorigin="anonymous" -->
<!--  th:src="@{https://connect.facebook.net/pt_BR/sdk.js#xfbml=1&amp;version=v5.0&amp;appId=1047331868960513}" -->
<!--  src="https://connect.facebook.net/pt_BR/sdk.js#xfbml=1&amp;version=v5.0&amp;appId=1047331868960513"> -->
 
<!--  </script>	 -->
			
<!-- 			<div id="fb-root"></div> -->
<!-- <script async defer crossorigin="anonymous" th:src="@{https://connect.facebook.net/pt_BR/sdk.js#xfbml=1&version=v5.0}"></script> -->
			
					

			
			
			<div class="wrapper">

	   			  <nav th:replace="fragmentos/top-nav :: nav">
				
				</nav>
				
					<div th:replace="fragmentos/nav :: nav-side"> </div>
				
  <div class="content-wrapper">
    <section class="content-header">
      <h1>
<!--         Início -->
        Monitor <small > Itens</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"  ></i> Cardapio</a> </li>
        <li> <i class="fa fa-dashboard"  >Monitor</i></li>
        
          <li class="active"> Itens</li>
      </ol>
    </section>
    
    
    
    <section class="content">
    
<!--     <div class="alert alert-info alert-dismissible"> -->
    
<!--                           <div class="box-tools pull-right"> -->
<!--                 <button type="button" class="close" data-dismiss="alert" aria-hidden="true"><i class="fa fa-times" style="color:#fff;"></i> -->
<!--                 </button> -->
<!--               </div> -->
<!--         <h4>Deseja Avaliar Este Produto ?</h4> -->
<!--         Clique nesse Link que Levaremos vc a Página -->
<!--         <a th:href="@{/produto/avaliar(id=${produto.id})}">Página de Avaliação</a> -->
        

              
              
<!--       </div> -->
      
      
      

       
       
			<div class="box box-primary">
            <div class="box-header with-border">
              <h3 class="box-title">Monitor</h3>

              <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                </button>
                <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
              </div>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
              <ul class="products-list product-list-in-box" th:each="pedido : ${pedidos}">
                  <span class="product-title" th:text="|Pedido Id : ${pedido.id}|" >$1800</span>
                  <span th:utext="${#dates.format(pedido.data,'dd/MM/yyyy')}">data</span>
                  
<!--                   </span> -->
                
                <li class="item"  th:each="item: ${pedido.items}">
              
                  
                  
                  <div class="product-img">
                    <img th:src="@{/img/produto/{fotoc}(fotoc=${item.key.foto})}" alt="Product Image">
                  </div>
                  <div class="product-info">
                  
                      <div class="btn-group pull-right">
                       <div sec:authorize="hasAnyRole('ROLE_COZINHA','ROLE_ADM','ROLE_SUPER')" >
                        <a th:href="@{/pedidovenda/item/mudarpronto(id=${item.key.id},idped=${pedido.id})}" class="btn  btn-block bg-aqua btn-flat btn-sm"><span >PRONTO</span></a>
                        <a th:href="@{/pedidovenda/item/mudarpreparacao(id=${item.key.id},idped=${pedido.id})}" class="btn  btn-block bg-yellow btn-flat btn-sm"><span>PREPARAR</span></a>
                     </div>
                      <div sec:authorize="hasAnyRole('ROLE_GARCON','ROLE_ADM','ROLE_SUPER')" >
                       <a th:href="@{/pedidovenda/item/mudarcancelar(id=${item.key.id},idped=${pedido.id})}" class="btn btn-block bg-red btn-flat btn-sm "><span >CANCELAR</span></a>
                        <a th:href="@{/pedidovenda/item/mudarentregar(id=${item.key.id},idped=${pedido.id})}" class="btn  btn-block bg-green btn-flat btn-sm"><span>ENTREGAR</span></a>
                      </div> 
                                          
                      </div> 
                  
                    <a href="javascript:void(0)" class="product-title" th:text="${item.key.nome}">Samsung TV
                      </a>

<!--                        <span class="label bg-purple" th:text="${item.key.situacao}">$1800</span> -->
                        <span class="product-description" th:text="${item.key.descricao}">
                          Samsung 32" 1080p 60Hz LED Smart HDTV.
                        </span>
                        
                         <span class="label bg-green" th:text="|QTD: ${item.key.qtd}|">
                          Samsung 32" 1080p 60Hz LED Smart HDTV.
                        </span>
                        
                           <span class="label bg-purple" th:text="${item.key.situacao}">$1800</span>
        			
<!--                        <div class="btn-group pull-right"> -->
<!--                        <div sec:authorize="hasAnyRole('ROLE_COZINHA','ROLE_ADM','ROLE_SUPER')" > -->
<!--                         <a th:href="@{/pedidovenda/item/mudarpronto(id=${item.key.id},idped=${pedido.id})}" class="btn  btn-block bg-aqua btn-flat"><span >PRONTO</span></a> -->
<!--                         <a th:href="@{/pedidovenda/item/mudarpreparacao(id=${item.key.id},idped=${pedido.id})}" class="btn  btn-block bg-yellow btn-flat"><span>PREPARAR</span></a> -->
<!--                      </div> -->
<!--                       <div sec:authorize="hasAnyRole('ROLE_GARCON','ROLE_ADM','ROLE_SUPER')" > -->
<!--                        <a th:href="@{/pedidovenda/item/mudarcancelar(id=${item.key.id},idped=${pedido.id})}" class="btn btn-block bg-red btn-flat"><span >CANCELAR</span></a> -->
<!--                         <a th:href="@{/pedidovenda/item/mudarentregar(id=${item.key.id},idped=${pedido.id})}" class="btn  btn-block bg-green btn-flat"><span>ENTREGAR</span></a> -->
<!--                       </div>  -->
                                          
<!--                       </div>  -->
                      
                  </div>
                </li>

              </ul>
            </div>
            <!-- /.box-body -->
            <div class="box-footer text-center">
              <a href="javascript:void(0)" class="uppercase">Ver Todos os Pedidos</a>
            </div>
            <!-- /.box-footer -->
          </div>
     
   
  </div>
  
  

    </section>
    
           
  </div>

<!-- 	<div th:replace="fragmentos/footer :: script" style="display:none;"></div> -->
	
	    				<script src="resources/static/js/bootstrap-datepicker.pt-BR.js"
			th:src="@{/js/bootstrap-datepicker.pt-BR.js}" th:inline="javascript" ></script>
			
	
		</div>	
		
		
		
	    
	  
	<div th:replace="fragmentos/footer :: script" style="display: none;"></div>  
</body>
			
			
</html>

