<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
  
<!-- <meta property="og:url"                th:attr="content='https://sleepy-atoll-65818.herokuapp.com/produto/perfil?id=' + ${produto.id}" /> -->
<!-- <meta property="og:type"               th:attr="content='website'" /> -->
<!-- <meta property="og:title"               th:attr="content='Sushi-Senpai' + ${produto.nome}" /> -->
<!-- <meta property="og:description"        th:attr="content='Descrição:'+ ${produto.descricao}" /> -->
<!-- <meta property="og:image"               th:attr="content='https://sleepy-atoll-65818.herokuapp.com/img/produto/' + ${produto.foto}" /> -->

	<head th:replace="fragmentos/head :: head-css">
	

	
	</head>
	
	
		
		<title>Monitor</title>

			<body  class="hold-transition skin-red layout-top-nav" th:class=" 'hold-transition skin-'+ ${configuracaoAtual.cortopo} + ' layout-top-nav' ">
			
<!-- 			<div id="fb-root"> </div> -->
<!-- <script th:async="async" th:defer="defer"  crossorigin="anonymous" -->
<!--  th:src="@{https://connect.facebook.net/pt_BR/sdk.js#xfbml=1&amp;version=v5.0&amp;appId=1047331868960513}" -->
<!--  src="https://connect.facebook.net/pt_BR/sdk.js#xfbml=1&amp;version=v5.0&amp;appId=1047331868960513"> -->
 
<!--  </script>	 -->
			
<!-- 			<div id="fb-root"></div> -->
<!-- <script async defer crossorigin="anonymous" th:src="@{https://connect.facebook.net/pt_BR/sdk.js#xfbml=1&version=v5.0}"></script> -->
			
					

			
			
			<div class="wrapper">

	   			  <nav th:replace="fragmentos/top-navaux :: nav">
				
				</nav>
				
<!-- 					<div th:replace="fragmentos/navaux :: nav-side"> </div> -->
				
  <div class="content-wrapper">
  
      <div class="container">
  
    <section class="content-header">
      <h1>
<!--         Início -->
        Monitor <small > Itens</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"  ></i> Cardapio</a> </li>
        <li> <i class="fa fa-dashboard"  >Monitor</i></li>
        
          <li class="active"> Itens</li>
      </ol>
    </section>
    
    
    
    <section class="content connectedSortable">
    
<!--     <div class="alert alert-info alert-dismissible"> -->
    
<!--                           <div class="box-tools pull-right"> -->
<!--                 <button type="button" class="close" data-dismiss="alert" aria-hidden="true"><i class="fa fa-times" style="color:#fff;"></i> -->
<!--                 </button> -->
<!--               </div> -->
<!--         <h4>Deseja Avaliar Este Produto ?</h4> -->
<!--         Clique nesse Link que Levaremos vc a Página -->
<!--         <a th:href="@{/produto/avaliar(id=${produto.id})}">Página de Avaliação</a> -->
        

              
              
<!--       </div> -->

<!--         <div class="box box-default"> -->
<!--           <div class="box-header with-border"> -->
<!--             <h3 class="box-title">Blank Box</h3> -->
<!--           </div> -->
<!--           <div class="box-body"> -->
<!--             The great content goes here -->
<!--           </div> -->
<!--           /.box-body -->
<!--         </div> -->

 <section class="col-md-4 connectedSortable">

 <div class="row">
      

      

       
       		<div class="col-md-12">
			<div class="box box-primary">
            <div class="box-header bg-black with-border ui-sortable-handle"  th:class=" 'box-header bg-'+ ${configuracaoAtual.cortopo} + ' with-border ui-sortable-handle'">
             <i class="fa fa-television"></i>
             <h3 class="box-title">PROGRESSO</h3>

              <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus" style="color:#fff;"></i>
                </button>
                <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times" style="color:#fff;"></i></button>
              </div>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
              <ul class="products-list product-list-in-box" th:each="pedido : ${pedidos}">
                <div class="direct-chat-text">
                  <span class="product-title" th:text="|Pedido Id : ${pedido.id}|" >$1800</span>
                <p>  <span class="product-title text-center" th:utext="| Data : ${#dates.format(pedido.data,'dd/MM/yyyy')} |">data</span>
                
                <span class="product-title" th:utext="| Hora : ${#dates.format(pedido.horapedido,'hh:MM:ss')} |">data</span>
                 </p>
                 </div>
                  
<!--                   </span> -->
                
                <li class="item"  th:each="item: ${pedido.items}">
              
                  
                  
                  <div class="product-img">
                    <img th:src="@{/img/produto/{fotoc}(fotoc=${item.key.foto})}" alt="Product Image" class="img-circle">
                  </div>
                  <div class="product-info">
                  
<!--                       <div class="btn-group pull-right"> -->
<!--                        <div sec:authorize="hasAnyRole('ROLE_COZINHA','ROLE_ADM','ROLE_SUPER')" > -->
<!--                         <a th:href="@{/pedidovenda/item/mudarpronto(id=${item.key.id},idped=${pedido.id})}" class="btn  btn-block bg-aqua btn-flat btn-sm"><span >PRONTO</span></a> -->
<!--                         <a th:href="@{/pedidovenda/item/mudarpreparacao(id=${item.key.id},idped=${pedido.id})}" class="btn  btn-block bg-yellow btn-flat btn-sm"><span>PREPARAR</span></a> -->
<!--                      </div> -->
<!--                       <div sec:authorize="hasAnyRole('ROLE_GARCON','ROLE_ADM','ROLE_SUPER')" > -->
<!--                        <a th:href="@{/pedidovenda/item/mudarcancelar(id=${item.key.id},idped=${pedido.id})}" class="btn btn-block bg-red btn-flat btn-sm "><span >CANCELAR</span></a> -->
<!--                         <a th:href="@{/pedidovenda/item/mudarentregar(id=${item.key.id},idped=${pedido.id})}" class="btn  btn-block bg-green btn-flat btn-sm"><span>ENTREGAR</span></a> -->
<!--                       </div>  -->
                                          
<!--                       </div>  -->
                  
                    <a href="javascript:void(0)" class="product-title" th:text="${item.key.nome}">Samsung TV
                      </a>

<!--                        <span class="label bg-purple" th:text="${item.key.situacao}">$1800</span> -->
                        <span class="product-description" th:text="${item.key.descricao}">
                          Samsung 32" 1080p 60Hz LED Smart HDTV.
                        </span>
                        
                         <span class="label bg-green" th:text="|QTD: ${item.key.qtd}|">
                          Samsung 32" 1080p 60Hz LED Smart HDTV.
                        </span>
                        
                           <span class="label bg-purple" th:text="${item.key.situacao}">$1800</span>
        			
                       <div class="btn-group pull-right">
<!--                        <div sec:authorize="hasAnyRole('ROLE_COZINHA','ROLE_ADM','ROLE_SUPER')" > -->
<!--                         <a th:href="@{/pedidovenda/item/mudarpronto(id=${item.key.id},idped=${pedido.id})}" class="btn  btn-block bg-aqua btn-flat"><span >PRONTO</span></a> -->
<!--                         <a th:href="@{/pedidovenda/item/mudarpreparacao(id=${item.key.id},idped=${pedido.id})}" class="btn  btn-block bg-yellow btn-flat"><span>PREPARAR</span></a> -->
<!--                      </div> -->
<!--                       <div sec:authorize="hasAnyRole('ROLE_GARCON','ROLE_ADM','ROLE_SUPER')" > -->
<!--                        <a th:href="@{/pedidovenda/item/mudarcancelar(id=${item.key.id},idped=${pedido.id})}" class="btn btn-block bg-red btn-flat"><span >CANCELAR</span></a> -->
<!--                         <a th:href="@{/pedidovenda/item/mudarentregar(id=${item.key.id},idped=${pedido.id})}" class="btn  btn-block bg-green btn-flat"><span>ENTREGAR</span></a> -->
<!--                       </div>  -->
                                          
<!--                      <img th:src="@{/img/pronto.png}" alt="Product Image" class="img-circle img-md"> -->

<!--                <div class="col-md-6 text-center"> -->
<!--            <div style="display:inline;width:90px;height:90px;"><canvas width="90" height="90"></canvas> -->
<!--            <input type="text" class="knob" value="50" data-width="90" data-height="90" data-fgcolor="#932ab6" style="width: 49px; height: 30px; position: absolute; vertical-align: middle; margin-top: 30px; margin-left: -69px; border: 0px; background: none; font: bold 18px Arial; text-align: center; color: rgb(57, 204, 204); padding: 0px; -webkit-appearance: none;"/></div> -->

<!--            <div class="knob-label">Curtidas</div> -->
<!--          </div> -->
                     
                      </div> 
                      <br></br>
<!--               <p>Preparo: <code>40%</code></p> -->
<!-- 			<p> -->
<!-- 			<div class="progress progress-sm active" style="height:15px;"> -->
<!--                 <div class="progress-bar progress-bar-primary progress-bar-striped" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:40%;"> -->
<!--                   <span class="sr-only">40% Pronto</span> -->
<!--                 </div> -->
<!--               </div> -->
<!--              </p> -->
			 <p>
             <div th:id="'progressTimer'+ ${pedido.id} + ${item.key.codigo}" class="progressTimer" style="height:15px;" th:attr="data-tempo=${item.key.tempopreparo}" ></div>
             </p>
                      
                  </div>
                </li>

              </ul>
            </div>
            <!-- /.box-body -->
            <div class="box-footer text-center">
              <a href="javascript:void(0)" class="uppercase">Ver Todos os Pedidos</a>
            </div>
            <!-- /.box-footer -->
<!--           </div> -->
     
   
  </div>
  
  </div>
  
  </div>
  
  </section>
  
      
    <section class="col-md-5 connectedSortable">

    
       <div class="row">
       
       		<div class="box box-solid">
        <div class="col-md-12">
        			<div class="box box-primary">
            <div class="box-header with-border ui-sortable-handle">
             <i class="fa fa-television"></i>
             <h3 class="box-title">FINALIZADO</h3>

              <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus" style="color:#fff;"></i>
                </button>
                <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times" style="color:#fff;"></i></button>
              </div>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
            
            <div id="item_pronto">
            
            
            </div>

            </div>
            <!-- /.box-body -->
            <div class="box-footer text-center">
              <a href="javascript:void(0)" class="uppercase">Ver Todos os Pedidos</a>
            </div>
            <!-- /.box-footer -->
<!--           </div> -->
     
   
  </div>
  
  </div>

  </div>
  
  </div>
  
  </section>
  
  
   <section class="col-md-3 connectedSortable">

 <div class="row">
      

      

       
       		<div class="col-md-12">
			<div class="box box-primary">
            <div class="box-header bg-black with-border ui-sortable-handle"  th:class=" 'box-header bg-'+ ${configuracaoAtual.cortopo} + ' with-border ui-sortable-handle'">
             <i class="fa fa-television"></i>
             <h3 class="box-title">PRONTOS</h3>

              <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus" style="color:#fff;"></i>
                </button>
                <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times" style="color:#fff;"></i></button>
              </div>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
              <ul class="products-list product-list-in-box" th:each="pedido : ${pedidos}">
                <div class="direct-chat-text">
                  <span class="product-title" th:text="|Pedido Id : ${pedido.id}|" >$1800</span>
                <p>  <span class="product-title text-center" th:utext="| Data : ${#dates.format(pedido.data,'dd/MM/yyyy')} |">data</span>
                
                <span class="product-title" th:utext="| Hora : ${#dates.format(pedido.horapedido,'hh:MM:ss')} |">data</span>
                 </p>
                 </div>
                  
<!--                   </span> -->
                
                <li class="item"  th:each="item: ${pedido.items}">
              
                  
                  
                  <div class="product-img">
                    <img th:src="@{/img/produto/{fotoc}(fotoc=${item.key.foto})}" alt="Product Image" class="img-circle">
                  </div>
                  <div class="product-info">
                  
<!--                       <div class="btn-group pull-right"> -->
<!--                        <div sec:authorize="hasAnyRole('ROLE_COZINHA','ROLE_ADM','ROLE_SUPER')" > -->
<!--                         <a th:href="@{/pedidovenda/item/mudarpronto(id=${item.key.id},idped=${pedido.id})}" class="btn  btn-block bg-aqua btn-flat btn-sm"><span >PRONTO</span></a> -->
<!--                         <a th:href="@{/pedidovenda/item/mudarpreparacao(id=${item.key.id},idped=${pedido.id})}" class="btn  btn-block bg-yellow btn-flat btn-sm"><span>PREPARAR</span></a> -->
<!--                      </div> -->
<!--                       <div sec:authorize="hasAnyRole('ROLE_GARCON','ROLE_ADM','ROLE_SUPER')" > -->
<!--                        <a th:href="@{/pedidovenda/item/mudarcancelar(id=${item.key.id},idped=${pedido.id})}" class="btn btn-block bg-red btn-flat btn-sm "><span >CANCELAR</span></a> -->
<!--                         <a th:href="@{/pedidovenda/item/mudarentregar(id=${item.key.id},idped=${pedido.id})}" class="btn  btn-block bg-green btn-flat btn-sm"><span>ENTREGAR</span></a> -->
<!--                       </div>  -->
                                          
<!--                       </div>  -->
                  
                    <a href="javascript:void(0)" class="product-title" th:text="${item.key.nome}">Samsung TV
                      </a>

<!--                        <span class="label bg-purple" th:text="${item.key.situacao}">$1800</span> -->
                        <span class="product-description" th:text="${item.key.descricao}">
                          Samsung 32" 1080p 60Hz LED Smart HDTV.
                        </span>
                        
                         <span class="label bg-green" th:text="|QTD: ${item.key.qtd}|">
                          Samsung 32" 1080p 60Hz LED Smart HDTV.
                        </span>
                        
                           <span class="label bg-purple" th:text="${item.key.situacao}">$1800</span>
        			
                       <div class="btn-group pull-right">
<!--                        <div sec:authorize="hasAnyRole('ROLE_COZINHA','ROLE_ADM','ROLE_SUPER')" > -->
<!--                         <a th:href="@{/pedidovenda/item/mudarpronto(id=${item.key.id},idped=${pedido.id})}" class="btn  btn-block bg-aqua btn-flat"><span >PRONTO</span></a> -->
<!--                         <a th:href="@{/pedidovenda/item/mudarpreparacao(id=${item.key.id},idped=${pedido.id})}" class="btn  btn-block bg-yellow btn-flat"><span>PREPARAR</span></a> -->
<!--                      </div> -->
<!--                       <div sec:authorize="hasAnyRole('ROLE_GARCON','ROLE_ADM','ROLE_SUPER')" > -->
<!--                        <a th:href="@{/pedidovenda/item/mudarcancelar(id=${item.key.id},idped=${pedido.id})}" class="btn btn-block bg-red btn-flat"><span >CANCELAR</span></a> -->
<!--                         <a th:href="@{/pedidovenda/item/mudarentregar(id=${item.key.id},idped=${pedido.id})}" class="btn  btn-block bg-green btn-flat"><span>ENTREGAR</span></a> -->
<!--                       </div>  -->
                                          
<!--                      <img th:src="@{/img/pronto.png}" alt="Product Image" class="img-circle img-md"> -->

<!--                <div class="col-md-6 text-center"> -->
<!--            <div style="display:inline;width:90px;height:90px;"><canvas width="90" height="90"></canvas> -->
<!--            <input type="text" class="knob" value="50" data-width="90" data-height="90" data-fgcolor="#932ab6" style="width: 49px; height: 30px; position: absolute; vertical-align: middle; margin-top: 30px; margin-left: -69px; border: 0px; background: none; font: bold 18px Arial; text-align: center; color: rgb(57, 204, 204); padding: 0px; -webkit-appearance: none;"/></div> -->

<!--            <div class="knob-label">Curtidas</div> -->
<!--          </div> -->
                     
                      </div> 
                      <br></br>
<!--               <p>Preparo: <code>40%</code></p> -->
<!-- 			<p> -->
<!-- 			<div class="progress progress-sm active" style="height:15px;"> -->
<!--                 <div class="progress-bar progress-bar-primary progress-bar-striped" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:40%;"> -->
<!--                   <span class="sr-only">40% Pronto</span> -->
<!--                 </div> -->
<!--               </div> -->
<!--              </p> -->
<!-- 			 <p> -->
<!--              <div th:id="'progressTimer'+ ${pedido.id} + ${item.key.codigo}" class="progressTimer" style="height:15px;" th:attr="data-tempo=${item.key.tempopreparo}" ></div> -->
<!--              </p> -->
                      
                  </div>
                </li>

              </ul>
            </div>
            <!-- /.box-body -->
            <div class="box-footer text-center">
              <a href="javascript:void(0)" class="uppercase">Ver Todos os Pedidos</a>
            </div>
            <!-- /.box-footer -->
<!--           </div> -->
     
   
  </div>
  
  </div>
  
  </div>
  
  </section>


    </section>
    
             <div class="clearfix"></div>
    
    
           
  </div>

<!-- 	<div th:replace="fragmentos/footer :: script" style="display:none;"></div> -->
	
<!-- 	    				<script src="resources/static/js/bootstrap-datepicker.pt-BR.js" -->
<!-- 			th:src="@{/js/bootstrap-datepicker.pt-BR.js}" th:inline="javascript" ></script> -->
			
				<div th:replace="fragmentos/footerauxmonitor :: script" style="display: none;"></div>  
			
			
			</div>
			
			
			

	
		</div>	
		
		
		
	    
	  
	
		    				<script src="resources/static/js/jquery.progressTimer.js"
			th:src="@{/js/jquery.progressTimer.js}" th:inline="javascript" ></script>
			
<script type="text/javascript">	



			
// 	$(".progressTimer").progressTimer({
//     timeLimit: 10,
//     warningThreshold: 5,
//     baseStyle: 'progress-bar-warning',
//     warningStyle: 'progress-bar-danger',
//     completeStyle: 'progress-bar-info',
//     onFinish: function() {
//         console.log("I'm done");
//     }
// });
	
	
	
	 $('.item div.progressTimer').each(function() {
	      $(this).on('click',function(){    
	          var id = $(this).attr('id');
	         var value = $(this).siblings('div').val();
	         var tempo =  $(this).attr('data-tempo');

	 
	       //   alert("Botão: "+id + " clicado.  Dado a ser enviado: "+ value);
	        
	      	$("#" + id).progressTimer({
	      	    timeLimit: tempo,
	      	    warningThreshold: 5,
	      	    baseStyle: 'progress-bar-info',
	      	    warningStyle: 'progress-bar-warning',
	      	    completeStyle: 'progress-bar-success',
	      	    onFinish: function() {
	      	    	
	      	    	
	      	    	$("#item_pronto").empty();
	      	       
	      	    	console.log("I'm done");
	      	       
	      	    	
	      	   //   var $copia = $(this).parents('.item').clone();
					var $copia = $('.item div#' + id).parents('.item').clone();
	      	        
	      	      $("#item_pronto").html($copia);
	      	    }
	      	});
	        
	          
	      });
	      
	      
	   });
	 
	 $('.item div.progressTimer').each(function() {
		 $(this).click();
	 
	 });

			
			</script>
</body>
			
			
</html>

