

<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
  
<!-- <meta property="og:url"                th:attr="content='https://sleepy-atoll-65818.herokuapp.com/produto/perfil?id=' + ${produto.id}" /> -->
<!-- <meta property="og:type"               th:attr="content='website'" /> -->
<!-- <meta property="og:title"               th:attr="content='Sushi-Senpai' + ${produto.nome}" /> -->
<!-- <meta property="og:description"        th:attr="content='Descrição:'+ ${produto.descricao}" /> -->
<!-- <meta property="og:image"               th:attr="content='https://sleepy-atoll-65818.herokuapp.com/img/produto/' + ${produto.foto}" /> -->
			


	
	<head th:replace="fragmentos/head :: head-css">
	
<!-- 			<link rel="stylesheet" media="screen" -->
<!-- 	href="resources/static/css/style2.css" th:href="@{/css/style2.css}" -->
<!-- 	type="text/css" /> -->
	
	</head>
	
																		<script src="https://cdnjs.cloudflare.com/ajax/libs/prefixfree/1.0.7/prefixfree.min.js"
			th:src="@{https://cdnjs.cloudflare.com/ajax/libs/prefixfree/1.0.7/prefixfree.min.js}"></script>
	
				<link rel="stylesheet" media="screen"
	href="resources/static/css/style3.css" th:href="@{/css/style3.css}"
	type="text/css" />

		<title>Monitor</title>
		
				<link rel="stylesheet" media="screen"
	href="resources/static/css/style3.css" th:href="@{/css/style3.css}"
	type="text/css" />
		

			<body  class="hold-transition skin-red sidebar-mini" th:class=" 'hold-transition skin-'+ ${configuracaoAtual.cortopo} + ' sidebar-mini sidebar-collapse' ">
			

	
<!-- 	<link rel="stylesheet" media="screen" -->
<!-- 	href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css" th:href="@{https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css}" -->
<!-- 	type="text/css" /> -->
	
<!-- 					<link rel="stylesheet" media="screen" rel='stylesheet prefetch' -->
<!-- 	href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" th:href="@{https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css}" -->
<!-- 	type="text/css" />	 -->
	
					<link rel="stylesheet" media="screen"
	href="resources/static/css/style3.css" th:href="@{/css/style3.css}"
	type="text/css" />
	
<!-- 	 <script th:src='@{https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js}' -->
<!-- 	 src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>	 -->
	
	
			
<!-- 			<div id="fb-root"> </div> -->
<!-- <script th:async="async" th:defer="defer"  crossorigin="anonymous" -->
<!--  th:src="@{https://connect.facebook.net/pt_BR/sdk.js#xfbml=1&amp;version=v5.0&amp;appId=1047331868960513}" -->
<!--  src="https://connect.facebook.net/pt_BR/sdk.js#xfbml=1&amp;version=v5.0&amp;appId=1047331868960513"> -->
 
<!--  </script>	 -->
			
<!-- 			<div id="fb-root"></div> -->
<!-- <script async defer crossorigin="anonymous" th:src="@{https://connect.facebook.net/pt_BR/sdk.js#xfbml=1&version=v5.0}"></script> -->
			
					

			
			
			<div class="wrapper">

	   			  <nav th:replace="fragmentos/top-nav :: nav">
				
				</nav>
				
					<div th:replace="fragmentos/nav :: nav-side"> </div>
				
  <div class="content-wrapper">
<!--     <section class="content-header"> -->
<!--       <h1> -->
<!--         Início --> 
<!--         card <small > Itens</small> -->
<!--       </h1> -->
<!--       <ol class="breadcrumb"> -->
<!--         <li><a href="#"><i class="fa fa-dashboard"  ></i> Cardapio</a> </li> -->
<!--         <li> <i class="fa fa-dashboard"  >card</i></li> -->
        
<!--           <li class="active"> Itens</li> -->
<!--       </ol> -->
<!--     </section> -->
    
    
    
    <section class="content">
    

       
<!-- 			<div class="box box-primary"> -->
<!--             <div class="box-header bg-black with-border"  th:class=" 'box-header bg-'+ ${configuracaoAtual.corcard} + ' with-border'"> -->
<!--              <i class="fa fa-television"></i> -->
<!--              <h3 class="box-title">MONITOR</h3> -->

<!--               <div class="box-tools pull-right"> -->
<!--                 <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus" style="color:#fff;"></i> -->
<!--                 </button> -->
<!--                 <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times" style="color:#fff;"></i></button> -->
<!--               </div> -->
<!--             </div> -->
<!-- <!--             /.box-header --> 
<!-- 	            <div class="box-body"> -->
	            
<!-- 	            <div class="tinder"  > -->
<!-- 	  <div class="tinder--status"> -->
<!-- 	    <i class="fa fa-remove"></i> -->
<!-- 	    <i class="fa fa-heart"></i> -->
<!-- 	  </div> -->


<!--     <div class="tinder--card" th:each="produto: ${categoria.produtos}"> -->
    
    
        <div id="people">
        
        <th:block th:each="categoria: ${categoriaLista}" >
        
<!--         <div class="" th:each="categoria: ${categoriaLista}" > -->
        
        <div class="person" th:each="produto: ${categoria.produtos}">
        
          <img th:if="${produto.foto}" th:src="@{/img/produto/{fotoc}(fotoc=${produto.foto})}"  alt="User Image" />
         <span><strong> <h3 th:text="${produto.nome}">Demo card 1</h3>
      <p th:utext="${produto.precovenda}">This is a demo for Tinder like swipe cards</p>
        </strong> </span>
        </div>

</th:block>
      
<!--         </div> -->
        </div>
        
                <div id="control">
      <div class="button no">
        <a href="#" class="trigger"></a>
      </div>
      <div class="button info">
        <a href="#" class="trigger"></a>
      </div>
      <div class="button yes">
        <a href="#" class="trigger"></a>
      </div>
<!--     </nav> -->
  </div>
       
<!--        </div>  -->
        


    

<!--     </div> -->

<!--   </div> -->

<!--   <div class="tinder--buttons"> -->
<!--     <button id="nope"><i class="fa fa-remove"></i></button> -->
<!--     <button id="love"><i class="fa fa-heart"></i></button> -->
<!--   </div> -->
<!-- </div> -->

<!-- </div> -->
<!-- </div> -->

<!-- </div> -->
<!-- </div> -->

    </section>
    
           
  </div>
  
   
  
  </div>
  
  	

	  




			
				<div th:replace="fragmentos/footer :: script" style="display: none;"></div>  
				
<!-- 														<script src="https://hammerjs.github.io/dist/hammer.min.js" -->
<!-- 			th:src="@{https://hammerjs.github.io/dist/hammer.min.js}"></script> -->
			
			

			

						<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"
			th:src="@{https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js}"></script>
			
			
							<script src="resources/static/js/script3.js"
			th:src="@{/js/script3.js}"></script>

			
</body>
			
			
</html>

