<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
  
<!-- <meta property="og:url"                th:attr="content='https://sleepy-atoll-65818.herokuapp.com/promocao/perfil?id=' + ${promocao.id}" /> -->
<!-- <meta property="og:type"               th:attr="content='article'" /> -->
<!-- <meta property="og:title"               th:attr="content='Sushi-Senpai' + ${promocao.nome}" /> -->
<!-- <meta property="og:description"        th:attr="content='Descrição:'+ ${promocao.descricao}" /> -->
<!-- <meta property="og:image"               th:attr="content='https://sleepy-atoll-65818.herokuapp.com/img/promocao/' + ${promocao.foto}" /> -->

	<head th:replace="fragmentos/head :: head-css">
	

	
	</head>
	
	
		
		<title>Carrinho Finalizar</title>

			<body  class="hold-transition skin-red sidebar-mini" th:class=" 'hold-transition skin-'+ ${configuracaoAtual.cortopo} + ' sidebar-mini' ">
			
<!-- 			<div id="fb-root"> </div> -->
<!-- <script th:async="async" th:defer="defer"  crossorigin="anonymous" -->
<!--  th:src="@{https://connect.facebook.net/pt_BR/sdk.js#xfbml=1&amp;version=v5.0&amp;appId=1047331868960513}" -->
<!--  src="https://connect.facebook.net/pt_BR/sdk.js#xfbml=1&amp;version=v5.0&amp;appId=1047331868960513"> -->
 
<!--  </script>	 -->
			
<!-- 			<div id="fb-root"></div> -->
<!-- <script async defer crossorigin="anonymous" th:src="@{https://connect.facebook.net/pt_BR/sdk.js#xfbml=1&version=v5.0}"></script> -->
			
					

			
			
			<div class="wrapper">

	   			  <nav th:replace="fragmentos/top-nav :: nav">
				
				</nav>
				
					<div th:replace="fragmentos/nav :: nav-side"> </div>
				
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Pedido
        <small th:id="|carrinho_${carrinho.id}|" th:text="${carrinho.id}">#007612</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Cardapio</a></li>
        <li><a href="#">Carrinho</a></li>
        <li class="active">Finalizar</li>
      </ol>
      
      
      				<div class="row-fluid" th:if="${sucesso}">

					<div class="alert alert-success">
						<div class="container-fluid">
							<div class="alert-icon">
								<i class="material-icons">check</i>
							</div>
							<button type="button" class="close" data-dismiss="alert"
								aria-label="Close">
								<span aria-hidden="true"><i class="material-icons">clear</i></span>
							</button>
							<b>Mensagem:</b> <span th:utext="${sucesso}"> </span>
							
<!-- 							 <span -->
<!-- 								class="btn btn-sm btn-warning"><a -->
<!-- 								th:href="@{/usuario/cadastro}"><i></i>Novo</a></span> <span -->
<!-- 								class="btn btn-sm btn-warning"><a -->
<!-- 								th:href="@{/usuario/editar(id=${usuario.id})}"><i></i>Editar</a></span> -->

						</div>


					</div>



				</div>

				<div class="row-fluid" th:if="${erro}">

					<div class="alert alert-danger">
						<div class="container-fluid">
							<div class="alert-icon">
								<i class="material-icons">error</i>
							</div>
							<button type="button" class="close" data-dismiss="alert"
								aria-label="Close">
								<span aria-hidden="true"><i class="material-icons">clear</i></span>
							</button>
							<b>Mensagem:</b> <span th:utext="${erro}"></span> 
<!-- 							<span -->
<!-- 								class="btn btn-sm btn-warning"> -->
<!-- 								<a -->
<!-- 								th:href="@{/usuario/cadastro}"><i></i>Novo</a></span> <span -->
<!-- 								class="btn btn-sm btn-warning"><a -->
<!-- 								th:href="@{/usuario/editar(id=${usuario.id})}"><i></i>Editar</a></span> -->

						</div>


					</div>



				</div>
      
      
    </section>

<!--     <div class="pad margin no-print"> -->
<!--       <div class="callout callout-info" style="margin-bottom: 0!important;"> -->
<!--         <h4><i class="fa fa-info"></i> Note:</h4> -->
<!--         This page has been enhanced for printing. Click the print button at the bottom of the invoice to test. -->
<!--       </div> -->
<!--     </div> -->

    <!-- Main content -->
    <section class="invoice">
      <!-- title row -->
      <div class="row">
        <div class="col-xs-12">
           <i class="fa fa-globe"  ></i>
          <h2 class="page-header" th:text="${configuracaoAtual.nomeempresa}">
         
            <small class="pull-right" th:utext="|Data: ${#dates.format(hoje,'dd/MM/yyyy')}|" >Date: 2/10/2014</small>
          </h2>
        </div>
        <!-- /.col -->
      </div>
      <!-- info row -->
      <div class="row invoice-info">
        <div class="col-sm-3 invoice-col">
          De
          <address>
            <strong th:text="${usuarioAtt.nome}" >Admin, Inc.</strong><br>
            795 Folsom Ave, Suite 600<br>
            San Francisco, CA 94107<br>
            Phone: (804) 123-5432<br>
            Email: info@almasaeedstudio.com
          </address>
        </div>
        <!-- /.col -->
        <div class="col-sm-3 invoice-col">
          Para
          <address>
            <strong  th:text="${configuracaoAtual.nomeempresa}">John Doe</strong><br>
            795 Folsom Ave, Suite 600<br>
            San Francisco, CA 94107<br>
            Phone: (555) 539-1037<br>
            Email: john.doe@example.com
          </address>
        </div>
        <!-- /.col -->
<!--         <div class="col-sm-2 invoice-col"> -->
<!--           <b  th:text="|Pedido : ${carrinho.id}|">Invoice #007612</b><br> -->
<!--           <br> -->
<!--           <b>Order ID:</b> <br> -->
<!--           <b th:utext="|Data: ${#dates.format(hoje,'dd/MM/yyyy')}|">Payment Due:</b><br> -->
<!--           <b th:text="|Cliente : ${usuarioAtt.nome}|">Account:</b>  -->
<!--         </div> -->
        
<!--         <br> -->
        
          <div class="col-sm-4 invoice-col">
<!--           <b  >Mesa</b> -->
          
                                              <select id="mesas" name="mesas" class="form-control">
                                        <optgroup label="Tipos de Categoria Pai">
                                                
                                             	<option th:each="mesa: ${mesas}" th:value="${mesa.id}" > Mesa: 
                                             	
                                             		<span th:utext="${mesa.numero}">Nenhuma Regra
														Cadastrada </span>
                                             	
                                             	</option>
					           				      	
				           				   		


                                        </optgroup>
                                    </select>
          
<!--           <br> -->
<!--           <b >Garcon</b> -->
          
                                                        <select id="garcon" name="garcon" class="form-control">
                                        <optgroup label="Tipos de Categoria Pai">
                                                
                                             	<option th:each="garcon: ${garcons}" th:value="${garcon.id}" > Garçon: 
                                             	
                                             		<span th:utext="${garcon.nome}">Nenhuma Regra
														Cadastrada </span>
                                             	
                                             	</option>
					           				      	
				           				   		


                                        </optgroup>
                                    </select>
          
          
<!--           <br> -->
        </div>
        
        <!-- /.col -->
      </div>
      <!-- /.row -->

      <!-- Table row -->
      <div class="row">
        <div class="col-xs-12 table-responsive">
          <table class="table table-striped">
            <thead>
            <tr>
             <th>id</th>
              <th>Qtd</th>
              <th>Produto</th>
             
              <th>Descrição</th>
              <th>Subtotal</th>
               <th>Delete</th>
            </tr>
            </thead>
            <tbody>
            <tr th:id="|item_${item.id}|" th:each="item: ${carrinho.itens}">
              <td th:text="${item.id}">id</td>
              <td th:text="${item.qtd}">Call of Duty</td>
              <td th:text="${item.nome}">455-981-221</td>
              <td th:text="${item.descricao}">El snort testosterone trophy driving gloves handsome</td>
              <td th:text="${item.totalItem}">$64.50</td>
              <td >
                     <a  rel="tooltip" title="Excluir" class="btn btn-danger btn-simple btn-md" th:href="@{/carrinho/deleteitem(id=${item.id})}">
                                    						<i class="material-icons">close</i>
			                       						</a>
              
              
              </td>
            </tr>
           
            </tbody>
          </table>
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->

      <div class="row">
        <!-- accepted payments column -->
        <div class="col-xs-6">
          <p class="lead">Formas de Pagamento:</p>
          <img th:src="@{/img/credit/visa.png}" alt="Visa"/>
          <img th:src="@{/img/credit/mastercard.png}" alt="Mastercard"/>
          <img th:src="@{/img/credit/american-express.png}" alt="American Express"/>
          <img th:src="@{/img/credit/paypal2.png}" alt="Paypal"/>

          <p class="text-muted well well-sm no-shadow" style="margin-top: 10px;">
     Algumas Oberservações sobres as Formas de Pagamento. Algumas Oberservações sobres as Formas de Pagamento.
     Algumas Oberservações sobres as Formas de Pagamento. Algumas Oberservações sobres as Formas de Pagamento.
     
     
          </p>
        </div>
        <!-- /.col -->
        <div class="col-xs-6">
          <p class="lead" th:utext="|Data: ${#dates.format(hoje,'dd/MM/yyyy')}|">Amount Due 2/22/2014</p>

          <div class="table-responsive">
            <table class="table">
              <tr>
                <th style="width:50%">Subtotal:</th>
                <td th:text="|R$: ${carrinho.subtotal}|">$250.30</td>
              </tr>
              <tr>
                <th>Taxas (0.0%)</th>
                <td>R$:0.00</td>
              </tr>
              <tr>
                <th>Subtotal:</th>
                <td th:text="|R$: ${carrinho.subtotal}|">$5.80</td>
              </tr>
              <tr>
                <th>Total:</th>
                <td th:text="|R$: ${carrinho.total}|">$265.24</td>
              </tr>
            </table>
          </div>
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->

      <!-- this row will not appear when printing -->
      <div class="row no-print">
        <div class="col-xs-12">
          <a href="invoice-print.html" target="_blank" class="btn btn-default"><i class="fa fa-print"></i> Imprimir</a>
          <button type="button" class="btn btn-success pull-right" th:onclick="'finalizaAgora(\''+${carrinho.id}+'\');'" th:text="|Finalizar|"> <i class="fa fa-credit-card"></i>
          </button>
          <button type="button" class="btn btn-primary pull-right" style="margin-right: 5px;">
            <i class="fa fa-download"></i> Gerar PDF
          </button>
        </div>
      </div>
    </section>
    <!-- /.content -->
    <div class="clearfix"></div>
  </div>
           
  </div>

	<div th:replace="fragmentos/footer :: script" style="display:none;"></div>
	
	    				<script src="resources/static/js/bootstrap-datepicker.pt-BR.js"
			th:src="@{/js/bootstrap-datepicker.pt-BR.js}" th:inline="javascript" ></script>
			
	
<!-- 		</div>	 -->
		
<!-- 		     <div class="clearfix"></div> -->
		
		
<script type="text/javascript">

function finalizaAgora(id) {
	
	var txt = $("#carrinho_"+id);
	
    $.post("finalizaCarrinho", {'id' : id}, function(resposta) {
        $("#carrinho_"+id).html("Finalizado com Sucesso");
        txt.focus();
        var txtt = $("#carrinho_"+id).focus();

    });
}

 
</script>
	    
	    
</body>
			
			
</html>

